---
---
<!DOCTYPE html>
<html>
<head>
  <title>Programa Brasil</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">
      <a href="#introduction"><h4>Programa Brasil</h4></a>
      <ul class="nav">
          <li class="play_square"><a href="#plays_index_anchor" title="Ver diretrizes">Premissas e Diretrizes</a></li>
          <li class="play_square"><a href="#experience_anchor" title="Ver experiências">Experiências</a></li>
          <li class="play_square"><a href="#contribute_anchor" title="Ver contribua">Contribua</a></li>
      </ul>
<!--       <div id="menu_icon">
        <a href="#plays_index_anchor" title="Voltar ao índice"></a>
      </div> -->
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="#assumptions_index_anchor" title="Vá para as diretrizes">PREMISSAS E DIRETRIZES</a>
      </div>
      <div class="button">
        <a href="#experience_anchor" title="Vá para as experiências">EXPERIÊNCIAS</a>
      </div>
      <div class="button">
        <a href="#contribute_anchor" title="Vá para a contribuição.">CONTRIBUA</a>
      </div>
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="assumptions_index_anchor"></a>
      <h3>PREMISSAS</h3>
      <div class="columns">
        <ol>
        {% for assumption in site.assumptions %}
          <li><a href="#assumption{{ assumption.id }}" title="Vá para a Diretriz {{ assumption.id }}">{{ assumption.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#assumption1" title="Vá para ver Mais Detalhes">MAIS DETALHES</a>
      </div>
    </div>

    <div class="inner_container">
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <h3>DIRETRIZES</h3>
      <div class="columns">
        <ol>
        {% for play in site.plays %}
          <li><a href="#play{{ play.id }}" title="Vá para a Diretriz {{ play.id }}">{{ play.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#play1" title="Vá para ver Mais Detalhes">MAIS DETALHES</a>
      </div>
    </div>
  </div>
</div>

<div id="assumptions" class="outer_container">
  {% for assumption in site.assumptions %}
    <div class="inner_container">
      <a class="anchor_offset" id="assumption{{ assumption.id }}"></a>
      <h5>PREMISSA {{ assumption.id }}</h5>
      <h2>{{ assumption.title }}</h2>

      {{ assumption.output }}
    </div>
  {% endfor %}
</div>

<div id="plays" class="outer_container">
  {% for play in site.plays %}
    <div class="inner_container">
      <a class="anchor_offset" id="play{{ play.id }}"></a>
      <h5>DIRETRIZ {{ play.id }}</h5>
      <h2>{{ play.title }}</h2>

      {{ play.output }}
    </div>
  {% endfor %}
</div>

<div id="experience_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="experience_anchor"></a>
      {% capture experience %}{% include experience.md %}{% endcapture %}
      {{ experience | markdownify }}
    </div>
  </div>
</div>

<div id="contribute_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="contribute_anchor"></a>
      {% capture contribute %}{% include contribute.md %}{% endcapture %}
      {{ contribute | markdownify }}
    </div>
  </div>
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54689648-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>