---
---
<!DOCTYPE html>
<html>
<head>
  <title>Programa Brasil</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">
      <a href="#introduction"><h4>Programa Brasil</h4></a>
      <ul class="nav">
        {% for play in site.plays %}
          <li class="play_square"><a href="#play{{ play.id }}" title="Ver diretriz {{ play.id }}: {{ play.title }}">{{ play.id }}</a></li>
        {% endfor %}
          <li class="play_square"><a href="#experience_anchor" title="Ver experiências">E</a></li>
          <li class="play_square"><a href="#contribute_anchor" title="Ver contribua">C</a></li>
      </ul>
      <div id="menu_icon">
        <a href="#plays_index_anchor" title="Voltar ao índice"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="#plays_index_anchor" title="Vá para as diretrizes">DIRETRIZES</a>
      </div>
      <div class="button">
        <a href="#experience_anchor" title="Vá para as experiências">EXPERIÊNCIAS</a>
      </div>
      <div class="button">
        <a href="#contribute_anchor" title="Vá para a contribuição.">CONTRIBUA</a>
      </div>
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <h3>DIRETRIZES SERVIÇO DIGITAL</h3>
      <div class="columns">
        <ol>
        {% for play in site.plays %}
          <li><a href="#play{{ play.id }}" title="Vá para a Diretriz {{ play.id }}">{{ play.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#play1" title="Vá para ver Mais Detalhes">MAIS DETALHES</a>
      </div>
    </div>
  </div>
</div>

<div id="plays" class="outer_container">
  {% for play in site.plays %}
    <div class="inner_container">
      <a class="anchor_offset" id="play{{ play.id }}"></a>
      <h5>DIRETRIZ {{ play.id }}</h5>
      <h2>{{ play.title }}</h2>

      {{ play.output }}
    </div>
  {% endfor %}
</div>

<div id="experience_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="experience_anchor"></a>
      <h3>EXPERIÊNCIAS</h3>
      <div class="columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quasi voluptatibus saepe, itaque odio et eaque fuga, deserunt cumque rem earum temporibus laudantium nulla numquam adipisci reiciendis. Consequatur, dolor, repellat!</p>
      </div>
    </div>
  </div>
</div>

<div id="contribute_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="contribute_anchor"></a>
      <h3>CONTRIBUA</h3>

        <p>O Programa Brasil é um remix de experiências que aconteceram no Brasil e no mundo nos últimos dez anos que propõem a atualização no governo, trazendo-o para o século 21. Acreditamos em um governo que possa ser trabalhado pelas pessoas, para as pessoas. Construímos tecnologias de código aberto e organizamos uma rede de pessoas dedicadas a fazer os serviços de governo mais simples, eficientes e fáceis de utilizar.</p>

        <h3>QUEREMOS</h3>

        <p>Encorajar e empoder cidadãos a ter uma participação política</p>

        <p>Facilitar a colaboração entre gestores públicos através de abordagens com visão de futuro para resolver problemas cidade</p>

        <p>Apoiar empreendedores e startups com consciência cívica</p>

        <h3>OBJETIVO</h3>

        <p>Articular profissionais de tecnologia e design para trabalhar nos governos do Brasil, no sentido de produzir aplicações de código aberto e promover abertura, participação e eficiência em governo, gerando uma rede multisetorial de praticantes da inovação cívica e uma plataforma para "civic hacking."</p>

        <p>Importar a eficiência da Web nas infraestruturas do governo, tornando o serviço público mais divertido e criativo.</p>

      </div>
    </div>
  </div>
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
<script id="_fed_an_js_tag" type="text/javascript" src="{{site.baseurl}}/assets/js/federated-analytics.all.min.js?agency=GSA&sub-agency=OGP"></script>
</body>
</html>